
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALI */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    min-width: 1200px;
    font-weight: 600;
    font-size: 0.9em;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 65%;
    margin: 0 auto;
}
h1{
    font-weight: 800;
}
h2{
    font-size: 2.5em;
    font-weight: 800;
}
h3{
    font-size: 1.8em;
    font-weight: 800;
}
h4{
    font-size: 1.1em;
    font-weight: 800;
}
h5{
    margin-top: 10px;
    margin-bottom: 30px;
    color: #999;
}
    /* BTN */
.btn:hover{
    background-color: #444;
}
button{
    box-shadow: -5px 7px 8px #888888;
    font-weight: 600;
}
.btn{
    border: none;
    cursor: pointer;
}
.blue-btn{
    color: white;
    background-color: #0061FF;
}
.sm-btn{
    padding: 8px 20px;
}
    /* fine BTN */

hr{
    border: 0.1px solid lightgray;
    background-color: lightgray;
}

/* fine GENERALI */












/* HEADER */
header{
    width: 100%;
    padding-top: 70px;
    background-color: #B4D0E7;
}
    /* NAV */
nav{
    height: 70px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1000;
    min-width: 1200px;
}

.nav-ul-sx{
    float: left;
}
.nav-ul-dx{
    float: right;
}
.nav-ul>li{
    height: 70px;
    display: block;
    float: left;
    text-decoration: none;
    margin: 0 10px;
    line-height: 70px;
}
.nav-link{
    color: black;
    text-decoration: none;
    display: block;
}
.nav-ul>li:hover{
    border-bottom: 2px solid black;
}
.nav-ul-sx>li:first-of-type, .nav-ul-dx>li:last-of-type{
    border-bottom: none;
}
nav .logo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#logo-box{
    width: 150px;
    position: relative;
}



/* DROPBOX */
.drop-container{
    position: relative;
}
.nav-link{
    position: relative;
    z-index: 1001;
}
.drop-ul{
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
    position: absolute;
    bottom:0;
    transform: translateY(100%);
    background-color: #eee;
    width: 170px;
    box-shadow: -5px 10px 8px #888888;
}
.drop-li{
    text-align: center;
    margin-top: 10px;
    display:block;
    line-height: 1.5em;
}
.drop-li a{
    font-size: 0.9em;
    text-decoration: none;
    color:black;
    font-weight: 400;
}
.drop-li:hover{
    background-color: #ddd;
}
.drop-li>a:hover{
    color: #0061FF;
}
.nav-link:hover + .drop-ul, .drop-ul:hover{
    display: block;
}
    /* fine NAV */
.jumbotron{
    padding-top: 5%;
    width: 80%;
    margin: auto;
}
.jumbotron>h1{
    font-size: 4em;
}
.jumbo-img{
    float: left;
    width: 65%;
    position: relative;
    top: 50px;
}
.jumbo-text{
    width: 35%;
    float: left;
    margin-top: 50px;
}
.jumbo-text p, .jumbo-text button{
    margin-bottom: 20px;
}
.fa-arrow-down{
    color: black;
    font-size: 2.5em;
}
header i:hover{
    cursor: pointer;
    color: red;
}

/* fine HEADER */











/* MAIN */



    /* PLAN SECTION */

.plan{
    padding-top: 20vh;
}
.tipo-fatturazione{
    margin-top: 50px;
    margin-bottom: 35px;
}
.fatturazione-check{
    display: inline-block;
    margin-right: 5px;
    height: 20px;
    width: 20px;
    border: 1px solid lightgray;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}
.fatturazione-check:hover{
    border: 5px solid #0061FF;
}
.fatturazione-text{
    vertical-align: middle;
    margin-right: 20px;
}
    /* PLAN CARD */
.plan-box{
    height: 1000px;
}
.plan-choice{
    border: 1px solid lightgray;
    width: 30%;
    height: 100%;
    float: left;
}
.plan-choice:nth-child(2){
    margin: 0 5%;
}
.plan-top{
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 10px;
}
.plan-bottom{
    padding: 20px;
}
.choice-title{
    padding-bottom: 10px;
}
.choice-price{
    padding-bottom: 8px;
}
.choice-descr{
    padding-bottom: 25px;
}
.plan-choice .choice-descr p{
    padding-left: 20px;
    margin-bottom: 20px;
}
.choice-descr i{
    margin-left: -20px;
}
.plan-choice button{
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
}
.choice-link{
    margin-bottom: 20px;
}
.choice-link a{
    color: #0061FF;
}
.choice-link a:hover{
    color: red;
}
.plan-choice hr{
    width: 20%;
    margin-bottom: 30px;
}
.choice-footer h4{
    margin-bottom: 20px;
}

.choice-footer li{
    padding-left:20px;
    margin-bottom: 20px;
    list-style-type: none;
}
.choice-footer li i{
    margin-left: -20px;
    color: #0061FF;
    font-size: 1.2em;
    
}
.enterp-choice{
    margin-top: 30px;
    border: 1px solid lightgray;
}
.enterp-text{
    width: 75%;
}
.enterp-choice button{
    float: right;
    width: 25%;
    padding: 10px 0;
}

    /* fine PLAN CARD */

/* fine FIRST SECTION */






/* SECOND SECTION */
.section-two{
    margin-top: 20vh;
    margin-bottom: 20vh;
}
.section-two img{
    width: 55%;
    float: left;
}
.section-two-text{
    width: 40%;
    float: right;
}
.section-two-text h3, .section-two-text p{
    padding-bottom: 30px;
}
.section-two-text button{
    background-color: white;
    padding: 10px 20px;
    border: 2px solid black;
    cursor: pointer;
}
.section-two-text button:hover{
    background-color: #444;
    color:white;
}
/* fine SECOND SECTION */


/* THIRD SECTION */
.section-three{
    padding-bottom: 20vh;
}
.trd-sec-card{
    width: 30%;
    float: left;
    margin-top: 15vh;
}
.trd-sec-card>img{
    width: 100%;
}
.central-card{
    margin-left: 5%;
    margin-right: 5%;
}
.underline{
    text-decoration: underline;
}
/* fine THIRD SECTION */



/* FOURTH SECTION */
.section-four h2{
    width: 60%;
    margin-bottom: 30px;
}
.section-four a{
    margin-bottom: 3000px;
    display: inline-block;
    margin-bottom: 50px;
    color: #0061FF;
}
.section-four a:hover{
    color: red;
}

/* CUBI COLORATI */

.cube-box{
    width: 30vw;
    height: 30vw;
    
}
.sx-box{
    float: left;
}
.dx-box{
    float: left;
}
.big-cube{
    padding: 50px;
    width: calc(100% - 60vw);
    height: 30vw;
    background-color: #F5F5F5;
    float: left;
    overflow-y: auto;
    max-width: 40vw;
}
.big-cube img{
    width: 115px;
}
.big-cube hr{
    margin: 10% 90% 10% 0;
}
.big-cube p{
    margin-bottom: 10%;
}
.cube{
    position: relative;
    height: 50%;
    width: 50%;
    float: left;
}
#cube-one{
    background-color: #A2D39B;
    border: 10px solid #D0E9CD;
}
#cube-two{
    background-color: #61082B;
}
#cube-three{
    background-color: #0093CE;
}
#cube-four{
    background-color: #FF1C1C;
}
#cube-five{
    background-color: #D5001F;
}
#cube-six{
    background-color: #B4D0E7;
}
#cube-seven{
    background-color: #0D2481;
}
#cube-eight{
    background-color: #FFD830;
}
.cube>img{
    width: 55%;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#free-try-background{
    background-color: #B4D0E7;
}
.free-try{
    padding-top: 160px;
    padding-bottom: 160px;
    position: relative;
}
.free-try h2{
    width: 50%;
    color: #61082B;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#free-try-background button{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 30%;
    padding: 10px 0;
}
#free-try-background button:hover{
    color: white;
}


/* SECTION FIVE */
.section-five{
    padding: 100px 0;
}
.section-five hr{
    margin: 40px 0;
}
details{
    cursor: pointer;
}
summary>h4{
    display: inline-block;
    list-style: none;
}
details>p{
    padding-right: 80px;
    margin-top: 20px;
}
summary{
    list-style-type: none;
}
.section-five .fa-angle-down{
    vertical-align: middle;
    font-size: 1.5em;
    float: right;
}
details[open] .fa-angle-down{
    transform: rotate(180deg);
}
.section-five details:hover .fa-angle-down,.section-five details:hover summary{
    color: red;
}


/* fine MAIN */

/* FOOTER */
footer{
    background-color: black;
    color: white;
    font-size: 0.8em;
    padding: 100px 0 40px 0;

}
footer ul{
    list-style-type: none;
}
.footer-container{
    margin: 0 auto;
    width: 80%;
}
.footer-li{
    display: block;
    float: left;
    width: 20%;
    margin-bottom: 60px;
}
.footer-li a{
    text-decoration: none;
    color: white;
}
.footer-li>a{
    font-size: 2em;
}
.footer-li>a:hover{
    color:#0061FF;
}
.footer-nest-li{
    margin-top: 10px;
}
.footer-nest-li:first-of-type{
    margin-top: 30px;
}
.footer-nest-li>a:hover{
    color: orange;
}
footer hr{
    margin: 40px 0;
    width: 10%;
}
.fa-angle-down{
    vertical-align: middle;
    font-size: 1.2em;
    /* float: right; */
}
.language summary:hover, .language a:hover{
    color: #0061FF;
}
.language a{
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

/* ABBELLIMENTI */

